<a href="https://colab.research.google.com/github/areejatariq/Data-cleaning-and-visualization-using-pyspark-/blob/main/Assignment1_DSTT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#installing the pyspark

!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 39 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 51.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=ec66216aeb474324a1fa9908b4c39dfede1b22c9bfec7071dd9d45dba91d90ae
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:

#creating the pyspark session 
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [3]:
#checking if the pyspark session is working
spark

In [4]:
# Reading the data from the directory
df_bristol = spark.read.csv('/content/bristol-air-quality-data.csv', header=True,sep=";")

In [5]:
df_bristol.show(10)

+--------------------+--------+--------+--------+------+----+------+-----+-------+------+------+----+--------+----+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|           Date Time|     NOx|     NO2|      NO|SiteID|PM10|NVPM10|VPM10|NVPM2.5| PM2.5|VPM2.5|  CO|      O3| SO2|Temperature|  RH|Air Pressure|            Location|        geo_point_2d|           DateStart|             DateEnd|Current|     Instrument Type|
+--------------------+--------+--------+--------+------+----+------+-----+-------+------+------+----+--------+----+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|2013-08-23T07:00:...|51.54044|30.50055|13.72186|   452|27.8|  23.2|  4.6|   16.4|19.454|   2.9|null|20.40603|null|       null|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T08:00:...|    94.5|   44.25|    33.0|   203|null|  null| null|   null|  null|  null|null|    null|null|       null|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T10:00:...|  242.75|   59.75|   119.5|   206|null|  null| null|   null|  null|  null|null|    null|null|       null|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T14:00:...|  197.75|   73.25|   81.25|   270|null|  null| null|   null|  null|  null|null|    null|null|       null|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|    81.0|    55.5|    16.5|   203|null|  null| null|   null|  null|  null|null|    null|null|       null|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|46.65544|42.06448| 2.99414|   452|31.1|  26.5|  4.6|   19.7|24.595|   4.7|null|42.30884|null|       null|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|   95.75|    65.5|   19.75|   215|null|  null| null|   null|  null|  null|null|    null|null|       null|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|  116.25|    67.5|    32.0|   375|null|  null| null|   null|  null|  null|null|    null|null|       null|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T20:00:...|   221.0|   63.75|   102.5|   206|null|  null| null|   null|  null|  null|null|    null|null|       null|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T21:00:...|   127.0|    52.0|    49.0|   463|null|  null| null|   null|  null|  null|null|    null|null|       null|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
+--------------------+--------+--------+--------+------+----+------+-----+-------+------+------+----+--------+----+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
only showing top 10 rows

In [6]:
#taking the mean of the SO2 and than adding that average back into the column

from pyspark.sql.functions import mean
mean_val=df_bristol.select(mean(df_bristol.SO2)).collect()
print(type(mean_val)) #mean_val is a list row object
print('mean value of SO2', mean_val[0][0])
mean_SO2=mean_val[0][0]

#now using mean_SO2 value to fill the nulls in SO2 column
df_bristol=df_bristol.na.fill(value='7.604697174',subset=['SO2'])

<class 'list'>
mean value of SO2 7.604697174396046

In [7]:
df_bristol.show()

+--------------------+--------+--------+--------+------+----+------+-----+-------+------+------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|           Date Time|     NOx|     NO2|      NO|SiteID|PM10|NVPM10|VPM10|NVPM2.5| PM2.5|VPM2.5|  CO|      O3|        SO2|Temperature|  RH|Air Pressure|            Location|        geo_point_2d|           DateStart|             DateEnd|Current|     Instrument Type|
+--------------------+--------+--------+--------+------+----+------+-----+-------+------+------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|2013-08-23T07:00:...|51.54044|30.50055|13.72186|   452|27.8|  23.2|  4.6|   16.4|19.454|   2.9|null|20.40603|7.604697174|       null|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T08:00:...|    94.5|   44.25|    33.0|   203|null|  null| null|   null|  null|  null|null|    null|7.604697174|       null|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T10:00:...|  242.75|   59.75|   119.5|   206|null|  null| null|   null|  null|  null|null|    null|7.604697174|       null|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T14:00:...|  197.75|   73.25|   81.25|   270|null|  null| null|   null|  null|  null|null|    null|7.604697174|       null|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|    81.0|    55.5|    16.5|   203|null|  null| null|   null|  null|  null|null|    null|7.604697174|       null|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|46.65544|42.06448| 2.99414|   452|31.1|  26.5|  4.6|   19.7|24.595|   4.7|null|42.30884|7.604697174|       null|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|   95.75|    65.5|   19.75|   215|null|  null| null|   null|  null|  null|null|    null|7.604697174|       null|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|  116.25|    67.5|    32.0|   375|null|  null| null|   null|  null|  null|null|    null|7.604697174|       null|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T20:00:...|   221.0|   63.75|   102.5|   206|null|  null| null|   null|  null|  null|null|    null|7.604697174|       null|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T21:00:...|   127.0|    52.0|    49.0|   463|null|  null| null|   null|  null|  null|null|    null|7.604697174|       null|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|   64.25|    42.5|   14.25|   215|null|  null| null|   null|  null|  null|null|    null|7.604697174|       null|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|32.00043|28.99493| 1.96013|   452|32.3|  20.9| 11.4|   16.2|25.603|   9.2|null|30.73378|7.604697174|       null|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T01:00:...|   68.25|   42.75|   16.25|   375|null|  null| null|   null|  null|  null|null|    null|7.604697174|       null|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T02:00:...|   31.75|    23.5|    5.25|   203|null|  null| null|   null|  null|  null|null|    null|7.604697174|       null|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T03:00:...|    23.5|   12.75|    6.75|   270|null|  null| null|   null|  null|  null|null|    null|7.604697174|       null|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|   39.75|    26.0|     9.0|   203|null|  null| null|   null|  null|  null|null|    null|7.604697174|       null|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|  106.75|   16.25|    59.0|   206|null|  null| null|   null|  null|  null|null|    null|7.604697174|       null|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T04:00:...|22.65356|18.31745| 2.82794|   452|19.5|  16.1|  3.4|   10.5|14.314|   3.7|null|36.12217|7.604697174|       null|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    98.5|   67.25|    20.5|   215|null|  null| null|   null|  null|  null|null|    null|7.604697174|       null|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    54.5|    21.5|   21.25|   463|null|  null| null|   null|  null|  null|null|    null|7.604697174|       null|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
+--------------------+--------+--------+--------+------+----+------+-----+-------+------+------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
only showing top 20 rows

In [8]:
#taking the mean of the temperature and than adding that average back into the column

from pyspark.sql.functions import mean
mean_val_temp=df_bristol.select(mean(df_bristol.Temperature)).collect()
print(type(mean_val_temp)) #mean_val_temp is a list row object
print('mean value of Temperature', mean_val_temp[0][0])
mean_temp=mean_val_temp[0][0]

#now using mean_temp value to fill the nulls in temperature column
df_bristol=df_bristol.na.fill(value="9.5137689",subset=['Temperature'])

<class 'list'>
mean value of Temperature 9.513768979472026

In [9]:
df_bristol.show()

+--------------------+--------+--------+--------+------+----+------+-----+-------+------+------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|           Date Time|     NOx|     NO2|      NO|SiteID|PM10|NVPM10|VPM10|NVPM2.5| PM2.5|VPM2.5|  CO|      O3|        SO2|Temperature|  RH|Air Pressure|            Location|        geo_point_2d|           DateStart|             DateEnd|Current|     Instrument Type|
+--------------------+--------+--------+--------+------+----+------+-----+-------+------+------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|2013-08-23T07:00:...|51.54044|30.50055|13.72186|   452|27.8|  23.2|  4.6|   16.4|19.454|   2.9|null|20.40603|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T08:00:...|    94.5|   44.25|    33.0|   203|null|  null| null|   null|  null|  null|null|    null|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T10:00:...|  242.75|   59.75|   119.5|   206|null|  null| null|   null|  null|  null|null|    null|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T14:00:...|  197.75|   73.25|   81.25|   270|null|  null| null|   null|  null|  null|null|    null|7.604697174|  9.5137689|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|    81.0|    55.5|    16.5|   203|null|  null| null|   null|  null|  null|null|    null|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|46.65544|42.06448| 2.99414|   452|31.1|  26.5|  4.6|   19.7|24.595|   4.7|null|42.30884|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|   95.75|    65.5|   19.75|   215|null|  null| null|   null|  null|  null|null|    null|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|  116.25|    67.5|    32.0|   375|null|  null| null|   null|  null|  null|null|    null|7.604697174|  9.5137689|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T20:00:...|   221.0|   63.75|   102.5|   206|null|  null| null|   null|  null|  null|null|    null|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T21:00:...|   127.0|    52.0|    49.0|   463|null|  null| null|   null|  null|  null|null|    null|7.604697174|  9.5137689|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|   64.25|    42.5|   14.25|   215|null|  null| null|   null|  null|  null|null|    null|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|32.00043|28.99493| 1.96013|   452|32.3|  20.9| 11.4|   16.2|25.603|   9.2|null|30.73378|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T01:00:...|   68.25|   42.75|   16.25|   375|null|  null| null|   null|  null|  null|null|    null|7.604697174|  9.5137689|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T02:00:...|   31.75|    23.5|    5.25|   203|null|  null| null|   null|  null|  null|null|    null|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T03:00:...|    23.5|   12.75|    6.75|   270|null|  null| null|   null|  null|  null|null|    null|7.604697174|  9.5137689|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|   39.75|    26.0|     9.0|   203|null|  null| null|   null|  null|  null|null|    null|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|  106.75|   16.25|    59.0|   206|null|  null| null|   null|  null|  null|null|    null|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T04:00:...|22.65356|18.31745| 2.82794|   452|19.5|  16.1|  3.4|   10.5|14.314|   3.7|null|36.12217|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    98.5|   67.25|    20.5|   215|null|  null| null|   null|  null|  null|null|    null|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    54.5|    21.5|   21.25|   463|null|  null| null|   null|  null|  null|null|    null|7.604697174|  9.5137689|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
+--------------------+--------+--------+--------+------+----+------+-----+-------+------+------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
only showing top 20 rows

In [10]:
#taking the mean of the PM2.5 and than adding that average back into the column

from pyspark.sql.functions import mean

# have to rename the column pm2.5 to pm2_5 because has a . in it 

df_bristol = df_bristol.withColumnRenamed('PM2.5', 'PM2_5')

mean_val_pm=df_bristol.select(mean(df_bristol.PM2_5)).collect()
print(type(mean_val_pm)) #mean_val_pm is a list row object
print('mean value of PM2_5', mean_val_pm[0][0])
mean_PM_2=mean_val_pm[0][0]

#now using mean_temp value to fill the nulls in PM2_5 column
df_bristol=df_bristol.na.fill(value="12.052908769",subset=['PM2_5'])
df_bristol.show()

<class 'list'>
mean value of PM2_5 12.052908769052758
+--------------------+--------+--------+--------+------+----+------+-----+-------+------------+------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|           Date Time|     NOx|     NO2|      NO|SiteID|PM10|NVPM10|VPM10|NVPM2.5|       PM2_5|VPM2.5|  CO|      O3|        SO2|Temperature|  RH|Air Pressure|            Location|        geo_point_2d|           DateStart|             DateEnd|Current|     Instrument Type|
+--------------------+--------+--------+--------+------+----+------+-----+-------+------------+------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|2013-08-23T07:00:...|51.54044|30.50055|13.72186|   452|27.8|  23.2|  4.6|   16.4|      19.454|   2.9|null|20.40603|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T08:00:...|    94.5|   44.25|    33.0|   203|null|  null| null|   null|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T10:00:...|  242.75|   59.75|   119.5|   206|null|  null| null|   null|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T14:00:...|  197.75|   73.25|   81.25|   270|null|  null| null|   null|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|    81.0|    55.5|    16.5|   203|null|  null| null|   null|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|46.65544|42.06448| 2.99414|   452|31.1|  26.5|  4.6|   19.7|      24.595|   4.7|null|42.30884|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|   95.75|    65.5|   19.75|   215|null|  null| null|   null|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|  116.25|    67.5|    32.0|   375|null|  null| null|   null|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T20:00:...|   221.0|   63.75|   102.5|   206|null|  null| null|   null|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T21:00:...|   127.0|    52.0|    49.0|   463|null|  null| null|   null|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|   64.25|    42.5|   14.25|   215|null|  null| null|   null|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|32.00043|28.99493| 1.96013|   452|32.3|  20.9| 11.4|   16.2|      25.603|   9.2|null|30.73378|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T01:00:...|   68.25|   42.75|   16.25|   375|null|  null| null|   null|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T02:00:...|   31.75|    23.5|    5.25|   203|null|  null| null|   null|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T03:00:...|    23.5|   12.75|    6.75|   270|null|  null| null|   null|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|   39.75|    26.0|     9.0|   203|null|  null| null|   null|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|  106.75|   16.25|    59.0|   206|null|  null| null|   null|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T04:00:...|22.65356|18.31745| 2.82794|   452|19.5|  16.1|  3.4|   10.5|      14.314|   3.7|null|36.12217|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    98.5|   67.25|    20.5|   215|null|  null| null|   null|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    54.5|    21.5|   21.25|   463|null|  null| null|   null|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
+--------------------+--------+--------+--------+------+----+------+-----+-------+------------+------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
only showing top 20 rows

In [11]:
#taking the mean of the NVPM2.5 and than adding that average back into the column

from pyspark.sql.functions import mean

# have to rename the column NVpm2.5 to NVpm2_5 because has a . in it 

df_bristol = df_bristol.withColumnRenamed('NVPM2.5', 'NVPM2_5')

mean_val_nvpm=df_bristol.select(mean(df_bristol.NVPM2_5)).collect()
print(type(mean_val_nvpm)) #mean_val_pm is a list row object
print('mean value of NVPM2_5', mean_val_nvpm[0][0])
mean_NVPM_2=mean_val_nvpm[0][0]

#now using mean_temp value to fill the nulls in PM2_5 column
df_bristol=df_bristol.na.fill(value="9.27125962",subset=['NVPM2_5'])
df_bristol.show()

<class 'list'>
mean value of NVPM2_5 9.271259623176672
+--------------------+--------+--------+--------+------+----+------+-----+----------+------------+------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|           Date Time|     NOx|     NO2|      NO|SiteID|PM10|NVPM10|VPM10|   NVPM2_5|       PM2_5|VPM2.5|  CO|      O3|        SO2|Temperature|  RH|Air Pressure|            Location|        geo_point_2d|           DateStart|             DateEnd|Current|     Instrument Type|
+--------------------+--------+--------+--------+------+----+------+-----+----------+------------+------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|2013-08-23T07:00:...|51.54044|30.50055|13.72186|   452|27.8|  23.2|  4.6|      16.4|      19.454|   2.9|null|20.40603|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T08:00:...|    94.5|   44.25|    33.0|   203|null|  null| null|9.27125962|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T10:00:...|  242.75|   59.75|   119.5|   206|null|  null| null|9.27125962|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T14:00:...|  197.75|   73.25|   81.25|   270|null|  null| null|9.27125962|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|    81.0|    55.5|    16.5|   203|null|  null| null|9.27125962|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|46.65544|42.06448| 2.99414|   452|31.1|  26.5|  4.6|      19.7|      24.595|   4.7|null|42.30884|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|   95.75|    65.5|   19.75|   215|null|  null| null|9.27125962|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|  116.25|    67.5|    32.0|   375|null|  null| null|9.27125962|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T20:00:...|   221.0|   63.75|   102.5|   206|null|  null| null|9.27125962|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T21:00:...|   127.0|    52.0|    49.0|   463|null|  null| null|9.27125962|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|   64.25|    42.5|   14.25|   215|null|  null| null|9.27125962|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|32.00043|28.99493| 1.96013|   452|32.3|  20.9| 11.4|      16.2|      25.603|   9.2|null|30.73378|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T01:00:...|   68.25|   42.75|   16.25|   375|null|  null| null|9.27125962|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T02:00:...|   31.75|    23.5|    5.25|   203|null|  null| null|9.27125962|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T03:00:...|    23.5|   12.75|    6.75|   270|null|  null| null|9.27125962|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|   39.75|    26.0|     9.0|   203|null|  null| null|9.27125962|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|  106.75|   16.25|    59.0|   206|null|  null| null|9.27125962|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T04:00:...|22.65356|18.31745| 2.82794|   452|19.5|  16.1|  3.4|      10.5|      14.314|   3.7|null|36.12217|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    98.5|   67.25|    20.5|   215|null|  null| null|9.27125962|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    54.5|    21.5|   21.25|   463|null|  null| null|9.27125962|12.052908769|  null|null|    null|7.604697174|  9.5137689|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
+--------------------+--------+--------+--------+------+----+------+-----+----------+------------+------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
only showing top 20 rows

In [12]:
#taking the mean of the VPM2.5 and than adding that average back into the column

from pyspark.sql.functions import mean

# have to rename the column NVpm2.5 to NVpm2_5 because has a . in it 

df_bristol = df_bristol.withColumnRenamed('VPM2.5', 'VPM2_5')
   
mean_val_vpm=df_bristol.select(mean(df_bristol.VPM2_5)).collect()
print(type(mean_val_vpm)) #mean_val_vpm is a list row object
print('mean value of VPM2_5', mean_val_vpm[0][0])
mean_VPM_2=mean_val_vpm[0][0]
                 
#now using mean_temp value to fill the nulls in PM2_5 column
df_bristol=df_bristol.na.fill(value="3.2491655",subset=['VPM2_5'])
df_bristol.show()

<class 'list'>
mean value of VPM2_5 3.2491655692868626
+--------------------+--------+--------+--------+------+----+------+-----+----------+------------+---------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|           Date Time|     NOx|     NO2|      NO|SiteID|PM10|NVPM10|VPM10|   NVPM2_5|       PM2_5|   VPM2_5|  CO|      O3|        SO2|Temperature|  RH|Air Pressure|            Location|        geo_point_2d|           DateStart|             DateEnd|Current|     Instrument Type|
+--------------------+--------+--------+--------+------+----+------+-----+----------+------------+---------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|2013-08-23T07:00:...|51.54044|30.50055|13.72186|   452|27.8|  23.2|  4.6|      16.4|      19.454|      2.9|null|20.40603|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T08:00:...|    94.5|   44.25|    33.0|   203|null|  null| null|9.27125962|12.052908769|3.2491655|null|    null|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T10:00:...|  242.75|   59.75|   119.5|   206|null|  null| null|9.27125962|12.052908769|3.2491655|null|    null|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T14:00:...|  197.75|   73.25|   81.25|   270|null|  null| null|9.27125962|12.052908769|3.2491655|null|    null|7.604697174|  9.5137689|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|    81.0|    55.5|    16.5|   203|null|  null| null|9.27125962|12.052908769|3.2491655|null|    null|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|46.65544|42.06448| 2.99414|   452|31.1|  26.5|  4.6|      19.7|      24.595|      4.7|null|42.30884|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|   95.75|    65.5|   19.75|   215|null|  null| null|9.27125962|12.052908769|3.2491655|null|    null|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|  116.25|    67.5|    32.0|   375|null|  null| null|9.27125962|12.052908769|3.2491655|null|    null|7.604697174|  9.5137689|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T20:00:...|   221.0|   63.75|   102.5|   206|null|  null| null|9.27125962|12.052908769|3.2491655|null|    null|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T21:00:...|   127.0|    52.0|    49.0|   463|null|  null| null|9.27125962|12.052908769|3.2491655|null|    null|7.604697174|  9.5137689|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|   64.25|    42.5|   14.25|   215|null|  null| null|9.27125962|12.052908769|3.2491655|null|    null|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|32.00043|28.99493| 1.96013|   452|32.3|  20.9| 11.4|      16.2|      25.603|      9.2|null|30.73378|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T01:00:...|   68.25|   42.75|   16.25|   375|null|  null| null|9.27125962|12.052908769|3.2491655|null|    null|7.604697174|  9.5137689|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T02:00:...|   31.75|    23.5|    5.25|   203|null|  null| null|9.27125962|12.052908769|3.2491655|null|    null|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T03:00:...|    23.5|   12.75|    6.75|   270|null|  null| null|9.27125962|12.052908769|3.2491655|null|    null|7.604697174|  9.5137689|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|   39.75|    26.0|     9.0|   203|null|  null| null|9.27125962|12.052908769|3.2491655|null|    null|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|  106.75|   16.25|    59.0|   206|null|  null| null|9.27125962|12.052908769|3.2491655|null|    null|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T04:00:...|22.65356|18.31745| 2.82794|   452|19.5|  16.1|  3.4|      10.5|      14.314|      3.7|null|36.12217|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    98.5|   67.25|    20.5|   215|null|  null| null|9.27125962|12.052908769|3.2491655|null|    null|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    54.5|    21.5|   21.25|   463|null|  null| null|9.27125962|12.052908769|3.2491655|null|    null|7.604697174|  9.5137689|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
+--------------------+--------+--------+--------+------+----+------+-----+----------+------------+---------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
only showing top 20 rows

In [13]:
#taking the mean of the 03 and than adding that average back into the column

from pyspark.sql.functions import mean

   
mean_val_O3=df_bristol.select(mean(df_bristol.O3)).collect()
print(type(mean_val_O3)) #mean_val_O3 is a list row object
print('mean value of O3', mean_val_O3[0][0])
mean_val_O3=mean_val_O3[0][0]
                 
 #now using mean_temp value to fill the nulls in PM2_5 column
df_bristol=df_bristol.na.fill(value="40.65212",subset=['O3'])
df_bristol.show()

<class 'list'>
mean value of O3 40.652129972769764
+--------------------+--------+--------+--------+------+----+------+-----+----------+------------+---------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|           Date Time|     NOx|     NO2|      NO|SiteID|PM10|NVPM10|VPM10|   NVPM2_5|       PM2_5|   VPM2_5|  CO|      O3|        SO2|Temperature|  RH|Air Pressure|            Location|        geo_point_2d|           DateStart|             DateEnd|Current|     Instrument Type|
+--------------------+--------+--------+--------+------+----+------+-----+----------+------------+---------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|2013-08-23T07:00:...|51.54044|30.50055|13.72186|   452|27.8|  23.2|  4.6|      16.4|      19.454|      2.9|null|20.40603|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T08:00:...|    94.5|   44.25|    33.0|   203|null|  null| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T10:00:...|  242.75|   59.75|   119.5|   206|null|  null| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T14:00:...|  197.75|   73.25|   81.25|   270|null|  null| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|    81.0|    55.5|    16.5|   203|null|  null| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|46.65544|42.06448| 2.99414|   452|31.1|  26.5|  4.6|      19.7|      24.595|      4.7|null|42.30884|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|   95.75|    65.5|   19.75|   215|null|  null| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|  116.25|    67.5|    32.0|   375|null|  null| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T20:00:...|   221.0|   63.75|   102.5|   206|null|  null| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T21:00:...|   127.0|    52.0|    49.0|   463|null|  null| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|   64.25|    42.5|   14.25|   215|null|  null| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|32.00043|28.99493| 1.96013|   452|32.3|  20.9| 11.4|      16.2|      25.603|      9.2|null|30.73378|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T01:00:...|   68.25|   42.75|   16.25|   375|null|  null| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T02:00:...|   31.75|    23.5|    5.25|   203|null|  null| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T03:00:...|    23.5|   12.75|    6.75|   270|null|  null| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|   39.75|    26.0|     9.0|   203|null|  null| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|  106.75|   16.25|    59.0|   206|null|  null| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T04:00:...|22.65356|18.31745| 2.82794|   452|19.5|  16.1|  3.4|      10.5|      14.314|      3.7|null|36.12217|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    98.5|   67.25|    20.5|   215|null|  null| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    54.5|    21.5|   21.25|   463|null|  null| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
+--------------------+--------+--------+--------+------+----+------+-----+----------+------------+---------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
only showing top 20 rows

In [14]:
#taking the mean of the NVPM10 and than adding that average back into the column

from pyspark.sql.functions import mean

   
mean_val_NVPM10=df_bristol.select(mean(df_bristol.NVPM10)).collect()
print(type(mean_val_NVPM10)) #mean_val_NVPM10 is a list row object
print('mean value of NVPM10', mean_val_NVPM10[0][0])
mean_val_NVPM10=mean_val_NVPM10[0][0]
                 
 #now using mean_temp value to fill the nulls in PM2_5 column
df_bristol=df_bristol.na.fill(value="14.62690601",subset=['NVPM10'])
df_bristol.show()

<class 'list'>
mean value of NVPM10 14.62690601811944
+--------------------+--------+--------+--------+------+----+-----------+-----+----------+------------+---------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|           Date Time|     NOx|     NO2|      NO|SiteID|PM10|     NVPM10|VPM10|   NVPM2_5|       PM2_5|   VPM2_5|  CO|      O3|        SO2|Temperature|  RH|Air Pressure|            Location|        geo_point_2d|           DateStart|             DateEnd|Current|     Instrument Type|
+--------------------+--------+--------+--------+------+----+-----------+-----+----------+------------+---------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|2013-08-23T07:00:...|51.54044|30.50055|13.72186|   452|27.8|       23.2|  4.6|      16.4|      19.454|      2.9|null|20.40603|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T08:00:...|    94.5|   44.25|    33.0|   203|null|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T10:00:...|  242.75|   59.75|   119.5|   206|null|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T14:00:...|  197.75|   73.25|   81.25|   270|null|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|    81.0|    55.5|    16.5|   203|null|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|46.65544|42.06448| 2.99414|   452|31.1|       26.5|  4.6|      19.7|      24.595|      4.7|null|42.30884|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|   95.75|    65.5|   19.75|   215|null|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|  116.25|    67.5|    32.0|   375|null|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T20:00:...|   221.0|   63.75|   102.5|   206|null|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T21:00:...|   127.0|    52.0|    49.0|   463|null|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|   64.25|    42.5|   14.25|   215|null|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|32.00043|28.99493| 1.96013|   452|32.3|       20.9| 11.4|      16.2|      25.603|      9.2|null|30.73378|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T01:00:...|   68.25|   42.75|   16.25|   375|null|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T02:00:...|   31.75|    23.5|    5.25|   203|null|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T03:00:...|    23.5|   12.75|    6.75|   270|null|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|   39.75|    26.0|     9.0|   203|null|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|  106.75|   16.25|    59.0|   206|null|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T04:00:...|22.65356|18.31745| 2.82794|   452|19.5|       16.1|  3.4|      10.5|      14.314|      3.7|null|36.12217|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    98.5|   67.25|    20.5|   215|null|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    54.5|    21.5|   21.25|   463|null|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
+--------------------+--------+--------+--------+------+----+-----------+-----+----------+------------+---------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
only showing top 20 rows

In [15]:
from pyspark.sql.functions import mean

   
mean_val_PM10=df_bristol.select(mean(df_bristol.PM10)).collect()
print(type(mean_val_PM10)) #mean_val_PM10 is a list row object
print('mean value of PM10', mean_val_PM10[0][0])
mean_val_PM10=mean_val_PM10[0][0]
                 
 #now using mean_temp value to fill the nulls in PM2_5 column
df_bristol=df_bristol.na.fill(value="22.2230",subset=['PM10'])
df_bristol.show()

<class 'list'>
mean value of PM10 22.22305344257434
+--------------------+--------+--------+--------+------+-------+-----------+-----+----------+------------+---------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|           Date Time|     NOx|     NO2|      NO|SiteID|   PM10|     NVPM10|VPM10|   NVPM2_5|       PM2_5|   VPM2_5|  CO|      O3|        SO2|Temperature|  RH|Air Pressure|            Location|        geo_point_2d|           DateStart|             DateEnd|Current|     Instrument Type|
+--------------------+--------+--------+--------+------+-------+-----------+-----+----------+------------+---------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|2013-08-23T07:00:...|51.54044|30.50055|13.72186|   452|   27.8|       23.2|  4.6|      16.4|      19.454|      2.9|null|20.40603|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T08:00:...|    94.5|   44.25|    33.0|   203|22.2230|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T10:00:...|  242.75|   59.75|   119.5|   206|22.2230|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T14:00:...|  197.75|   73.25|   81.25|   270|22.2230|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|    81.0|    55.5|    16.5|   203|22.2230|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|46.65544|42.06448| 2.99414|   452|   31.1|       26.5|  4.6|      19.7|      24.595|      4.7|null|42.30884|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|   95.75|    65.5|   19.75|   215|22.2230|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|  116.25|    67.5|    32.0|   375|22.2230|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T20:00:...|   221.0|   63.75|   102.5|   206|22.2230|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T21:00:...|   127.0|    52.0|    49.0|   463|22.2230|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|   64.25|    42.5|   14.25|   215|22.2230|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|32.00043|28.99493| 1.96013|   452|   32.3|       20.9| 11.4|      16.2|      25.603|      9.2|null|30.73378|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T01:00:...|   68.25|   42.75|   16.25|   375|22.2230|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T02:00:...|   31.75|    23.5|    5.25|   203|22.2230|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T03:00:...|    23.5|   12.75|    6.75|   270|22.2230|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|   39.75|    26.0|     9.0|   203|22.2230|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|  106.75|   16.25|    59.0|   206|22.2230|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T04:00:...|22.65356|18.31745| 2.82794|   452|   19.5|       16.1|  3.4|      10.5|      14.314|      3.7|null|36.12217|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    98.5|   67.25|    20.5|   215|22.2230|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    54.5|    21.5|   21.25|   463|22.2230|14.62690601| null|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
+--------------------+--------+--------+--------+------+-------+-----------+-----+----------+------------+---------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
only showing top 20 rows

In [16]:
from pyspark.sql.functions import mean

   
mean_val_VPM10=df_bristol.select(mean(df_bristol.VPM10)).collect()
print(type(mean_val_VPM10)) #mean_val_PM10 is a list row object
print('mean value of VPM10', mean_val_VPM10[0][0])
mean_val_VPM10=mean_val_VPM10[0][0]
                 
 #now using mean_temp value to fill the nulls in PM2_5 column
df_bristol=df_bristol.na.fill(value="3.1834",subset=['VPM10'])
df_bristol.show()

<class 'list'>
mean value of VPM10 3.183470501056342
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|           Date Time|     NOx|     NO2|      NO|SiteID|   PM10|     NVPM10| VPM10|   NVPM2_5|       PM2_5|   VPM2_5|  CO|      O3|        SO2|Temperature|  RH|Air Pressure|            Location|        geo_point_2d|           DateStart|             DateEnd|Current|     Instrument Type|
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|2013-08-23T07:00:...|51.54044|30.50055|13.72186|   452|   27.8|       23.2|   4.6|      16.4|      19.454|      2.9|null|20.40603|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T08:00:...|    94.5|   44.25|    33.0|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T10:00:...|  242.75|   59.75|   119.5|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T14:00:...|  197.75|   73.25|   81.25|   270|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|    81.0|    55.5|    16.5|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|46.65544|42.06448| 2.99414|   452|   31.1|       26.5|   4.6|      19.7|      24.595|      4.7|null|42.30884|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|   95.75|    65.5|   19.75|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|  116.25|    67.5|    32.0|   375|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T20:00:...|   221.0|   63.75|   102.5|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T21:00:...|   127.0|    52.0|    49.0|   463|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|   64.25|    42.5|   14.25|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|32.00043|28.99493| 1.96013|   452|   32.3|       20.9|  11.4|      16.2|      25.603|      9.2|null|30.73378|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T01:00:...|   68.25|   42.75|   16.25|   375|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T02:00:...|   31.75|    23.5|    5.25|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T03:00:...|    23.5|   12.75|    6.75|   270|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|   39.75|    26.0|     9.0|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|  106.75|   16.25|    59.0|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T04:00:...|22.65356|18.31745| 2.82794|   452|   19.5|       16.1|   3.4|      10.5|      14.314|      3.7|null|36.12217|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    98.5|   67.25|    20.5|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    54.5|    21.5|   21.25|   463|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655|null|40.65212|7.604697174|  9.5137689|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+----+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
only showing top 20 rows

In [17]:
from pyspark.sql.functions import mean

   
mean_val_CO=df_bristol.select(mean(df_bristol.CO)).collect()
print(type(mean_val_CO)) #mean_val_CO is a list row object
print('mean value of CO', mean_val_CO[0][0])
mean_val_CO=mean_val_CO[0][0]
                 
 #now using mean_temp value to fill the nulls in PM2_5 column
df_bristol=df_bristol.na.fill(value=" 0.507",subset=['CO'])
df_bristol.show()

<class 'list'>
mean value of CO 0.5077614964526624
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|           Date Time|     NOx|     NO2|      NO|SiteID|   PM10|     NVPM10| VPM10|   NVPM2_5|       PM2_5|   VPM2_5|    CO|      O3|        SO2|Temperature|  RH|Air Pressure|            Location|        geo_point_2d|           DateStart|             DateEnd|Current|     Instrument Type|
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|2013-08-23T07:00:...|51.54044|30.50055|13.72186|   452|   27.8|       23.2|   4.6|      16.4|      19.454|      2.9| 0.507|20.40603|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T08:00:...|    94.5|   44.25|    33.0|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T10:00:...|  242.75|   59.75|   119.5|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T14:00:...|  197.75|   73.25|   81.25|   270|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|    81.0|    55.5|    16.5|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|46.65544|42.06448| 2.99414|   452|   31.1|       26.5|   4.6|      19.7|      24.595|      4.7| 0.507|42.30884|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|   95.75|    65.5|   19.75|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|  116.25|    67.5|    32.0|   375|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T20:00:...|   221.0|   63.75|   102.5|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T21:00:...|   127.0|    52.0|    49.0|   463|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|   64.25|    42.5|   14.25|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|32.00043|28.99493| 1.96013|   452|   32.3|       20.9|  11.4|      16.2|      25.603|      9.2| 0.507|30.73378|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T01:00:...|   68.25|   42.75|   16.25|   375|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|null|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T02:00:...|   31.75|    23.5|    5.25|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T03:00:...|    23.5|   12.75|    6.75|   270|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|null|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|   39.75|    26.0|     9.0|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|null|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|  106.75|   16.25|    59.0|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|null|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T04:00:...|22.65356|18.31745| 2.82794|   452|   19.5|       16.1|   3.4|      10.5|      14.314|      3.7| 0.507|36.12217|7.604697174|  9.5137689|null|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    98.5|   67.25|    20.5|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|null|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    54.5|    21.5|   21.25|   463|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|null|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+----+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
only showing top 20 rows

In [18]:
mean_val_RH=df_bristol.select(mean(df_bristol.RH)).collect()
print(type(mean_val_RH)) #mean_val_RH is a list row object
print('mean value of RH', mean_val_RH[0][0])
mean_val_RH=mean_val_RH[0][0]
                 
 #now using mean_RH value to fill the nulls in RH column
df_bristol=df_bristol.na.fill(value="25.461",subset=['RH'])
df_bristol.show()

<class 'list'>
mean value of RH 25.323765867070538
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|           Date Time|     NOx|     NO2|      NO|SiteID|   PM10|     NVPM10| VPM10|   NVPM2_5|       PM2_5|   VPM2_5|    CO|      O3|        SO2|Temperature|    RH|Air Pressure|            Location|        geo_point_2d|           DateStart|             DateEnd|Current|     Instrument Type|
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|2013-08-23T07:00:...|51.54044|30.50055|13.72186|   452|   27.8|       23.2|   4.6|      16.4|      19.454|      2.9| 0.507|20.40603|7.604697174|  9.5137689|25.461|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T08:00:...|    94.5|   44.25|    33.0|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T10:00:...|  242.75|   59.75|   119.5|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T14:00:...|  197.75|   73.25|   81.25|   270|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|    81.0|    55.5|    16.5|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|46.65544|42.06448| 2.99414|   452|   31.1|       26.5|   4.6|      19.7|      24.595|      4.7| 0.507|42.30884|7.604697174|  9.5137689|25.461|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|   95.75|    65.5|   19.75|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|  116.25|    67.5|    32.0|   375|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T20:00:...|   221.0|   63.75|   102.5|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T21:00:...|   127.0|    52.0|    49.0|   463|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|   64.25|    42.5|   14.25|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|32.00043|28.99493| 1.96013|   452|   32.3|       20.9|  11.4|      16.2|      25.603|      9.2| 0.507|30.73378|7.604697174|  9.5137689|25.461|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T01:00:...|   68.25|   42.75|   16.25|   375|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T02:00:...|   31.75|    23.5|    5.25|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T03:00:...|    23.5|   12.75|    6.75|   270|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|   39.75|    26.0|     9.0|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|  106.75|   16.25|    59.0|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T04:00:...|22.65356|18.31745| 2.82794|   452|   19.5|       16.1|   3.4|      10.5|      14.314|      3.7| 0.507|36.12217|7.604697174|  9.5137689|25.461|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    98.5|   67.25|    20.5|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    54.5|    21.5|   21.25|   463|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
only showing top 20 rows

In [19]:
mean_val_NOx=df_bristol.select(mean(df_bristol.NOx)).collect()
print(type(mean_val_NOx)) #mean_val_RH is a list row object
print('mean value of NOX', mean_val_NOx[0][0])
mean_val_NOx=mean_val_NOx[0][0]
                 
 #now using mean_RH value to fill the nulls in RH column
df_bristol=df_bristol.na.fill(value="116.892",subset=['NOx'])
df_bristol.show()

<class 'list'>
mean value of NOX 116.89264586060465
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|           Date Time|     NOx|     NO2|      NO|SiteID|   PM10|     NVPM10| VPM10|   NVPM2_5|       PM2_5|   VPM2_5|    CO|      O3|        SO2|Temperature|    RH|Air Pressure|            Location|        geo_point_2d|           DateStart|             DateEnd|Current|     Instrument Type|
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|2013-08-23T07:00:...|51.54044|30.50055|13.72186|   452|   27.8|       23.2|   4.6|      16.4|      19.454|      2.9| 0.507|20.40603|7.604697174|  9.5137689|25.461|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T08:00:...|    94.5|   44.25|    33.0|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T10:00:...|  242.75|   59.75|   119.5|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T14:00:...|  197.75|   73.25|   81.25|   270|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|    81.0|    55.5|    16.5|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|46.65544|42.06448| 2.99414|   452|   31.1|       26.5|   4.6|      19.7|      24.595|      4.7| 0.507|42.30884|7.604697174|  9.5137689|25.461|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|   95.75|    65.5|   19.75|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|  116.25|    67.5|    32.0|   375|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T20:00:...|   221.0|   63.75|   102.5|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T21:00:...|   127.0|    52.0|    49.0|   463|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|   64.25|    42.5|   14.25|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|32.00043|28.99493| 1.96013|   452|   32.3|       20.9|  11.4|      16.2|      25.603|      9.2| 0.507|30.73378|7.604697174|  9.5137689|25.461|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T01:00:...|   68.25|   42.75|   16.25|   375|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T02:00:...|   31.75|    23.5|    5.25|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T03:00:...|    23.5|   12.75|    6.75|   270|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|   39.75|    26.0|     9.0|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|  106.75|   16.25|    59.0|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T04:00:...|22.65356|18.31745| 2.82794|   452|   19.5|       16.1|   3.4|      10.5|      14.314|      3.7| 0.507|36.12217|7.604697174|  9.5137689|25.461|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    98.5|   67.25|    20.5|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    54.5|    21.5|   21.25|   463|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
only showing top 20 rows

In [20]:
mean_val_NO2=df_bristol.select(mean(df_bristol.NO2)).collect()
print(type(mean_val_NO2)) #mean_val_RH is a list row object
print('mean value of NO2', mean_val_NO2[0][0])
mean_val_NO2=mean_val_NO2[0][0]
                
 #now using mean_RH value to fill the nulls in RH column
df_bristol=df_bristol.na.fill(value="43.8847",subset=['NO2'])
df_bristol.show()

<class 'list'>
mean value of NO2 43.884717236857874
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|           Date Time|     NOx|     NO2|      NO|SiteID|   PM10|     NVPM10| VPM10|   NVPM2_5|       PM2_5|   VPM2_5|    CO|      O3|        SO2|Temperature|    RH|Air Pressure|            Location|        geo_point_2d|           DateStart|             DateEnd|Current|     Instrument Type|
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|2013-08-23T07:00:...|51.54044|30.50055|13.72186|   452|   27.8|       23.2|   4.6|      16.4|      19.454|      2.9| 0.507|20.40603|7.604697174|  9.5137689|25.461|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T08:00:...|    94.5|   44.25|    33.0|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T10:00:...|  242.75|   59.75|   119.5|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T14:00:...|  197.75|   73.25|   81.25|   270|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|    81.0|    55.5|    16.5|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|46.65544|42.06448| 2.99414|   452|   31.1|       26.5|   4.6|      19.7|      24.595|      4.7| 0.507|42.30884|7.604697174|  9.5137689|25.461|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|   95.75|    65.5|   19.75|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|  116.25|    67.5|    32.0|   375|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T20:00:...|   221.0|   63.75|   102.5|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T21:00:...|   127.0|    52.0|    49.0|   463|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|   64.25|    42.5|   14.25|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|32.00043|28.99493| 1.96013|   452|   32.3|       20.9|  11.4|      16.2|      25.603|      9.2| 0.507|30.73378|7.604697174|  9.5137689|25.461|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T01:00:...|   68.25|   42.75|   16.25|   375|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T02:00:...|   31.75|    23.5|    5.25|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T03:00:...|    23.5|   12.75|    6.75|   270|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|   39.75|    26.0|     9.0|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|  106.75|   16.25|    59.0|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T04:00:...|22.65356|18.31745| 2.82794|   452|   19.5|       16.1|   3.4|      10.5|      14.314|      3.7| 0.507|36.12217|7.604697174|  9.5137689|25.461|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    98.5|   67.25|    20.5|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    54.5|    21.5|   21.25|   463|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
only showing top 20 rows

In [21]:
mean_val_NO=df_bristol.select(mean(df_bristol.NO)).collect()
print(type(mean_val_NO)) #mean_val_RH is a list row object
print('mean value of NO', mean_val_NO[0][0])
mean_val_NO=mean_val_NO[0][0]
                
 #now using mean_NO value to fill the mean in NO column
df_bristol=df_bristol.na.fill(value="48.1410",subset=['NO'])
df_bristol.show()

<class 'list'>
mean value of NO 48.141030144393696
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|           Date Time|     NOx|     NO2|      NO|SiteID|   PM10|     NVPM10| VPM10|   NVPM2_5|       PM2_5|   VPM2_5|    CO|      O3|        SO2|Temperature|    RH|Air Pressure|            Location|        geo_point_2d|           DateStart|             DateEnd|Current|     Instrument Type|
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|2013-08-23T07:00:...|51.54044|30.50055|13.72186|   452|   27.8|       23.2|   4.6|      16.4|      19.454|      2.9| 0.507|20.40603|7.604697174|  9.5137689|25.461|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T08:00:...|    94.5|   44.25|    33.0|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T10:00:...|  242.75|   59.75|   119.5|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T14:00:...|  197.75|   73.25|   81.25|   270|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|    81.0|    55.5|    16.5|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|46.65544|42.06448| 2.99414|   452|   31.1|       26.5|   4.6|      19.7|      24.595|      4.7| 0.507|42.30884|7.604697174|  9.5137689|25.461|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|   95.75|    65.5|   19.75|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|  116.25|    67.5|    32.0|   375|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T20:00:...|   221.0|   63.75|   102.5|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T21:00:...|   127.0|    52.0|    49.0|   463|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|   64.25|    42.5|   14.25|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|32.00043|28.99493| 1.96013|   452|   32.3|       20.9|  11.4|      16.2|      25.603|      9.2| 0.507|30.73378|7.604697174|  9.5137689|25.461|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T01:00:...|   68.25|   42.75|   16.25|   375|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T02:00:...|   31.75|    23.5|    5.25|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T03:00:...|    23.5|   12.75|    6.75|   270|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|   39.75|    26.0|     9.0|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|  106.75|   16.25|    59.0|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T04:00:...|22.65356|18.31745| 2.82794|   452|   19.5|       16.1|   3.4|      10.5|      14.314|      3.7| 0.507|36.12217|7.604697174|  9.5137689|25.461|        null|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    98.5|   67.25|    20.5|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    54.5|    21.5|   21.25|   463|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        null|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
only showing top 20 rows

In [22]:
# have to rename the column NVpm2.5 to NVpm2_5 because has a . in it 

df_bristol = df_bristol.withColumnRenamed('Air Pressure', 'Air_Pressure')

df_bristol=df_bristol.na.fill(value="-999",subset=['Air_Pressure'])
df_bristol.show()

+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|           Date Time|     NOx|     NO2|      NO|SiteID|   PM10|     NVPM10| VPM10|   NVPM2_5|       PM2_5|   VPM2_5|    CO|      O3|        SO2|Temperature|    RH|Air_Pressure|            Location|        geo_point_2d|           DateStart|             DateEnd|Current|     Instrument Type|
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|2013-08-23T07:00:...|51.54044|30.50055|13.72186|   452|   27.8|       23.2|   4.6|      16.4|      19.454|      2.9| 0.507|20.40603|7.604697174|  9.5137689|25.461|        -999|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T08:00:...|    94.5|   44.25|    33.0|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T10:00:...|  242.75|   59.75|   119.5|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T14:00:...|  197.75|   73.25|   81.25|   270|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|    81.0|    55.5|    16.5|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|46.65544|42.06448| 2.99414|   452|   31.1|       26.5|   4.6|      19.7|      24.595|      4.7| 0.507|42.30884|7.604697174|  9.5137689|25.461|        -999|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|   95.75|    65.5|   19.75|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|  116.25|    67.5|    32.0|   375|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T20:00:...|   221.0|   63.75|   102.5|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T21:00:...|   127.0|    52.0|    49.0|   463|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|   64.25|    42.5|   14.25|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|32.00043|28.99493| 1.96013|   452|   32.3|       20.9|  11.4|      16.2|      25.603|      9.2| 0.507|30.73378|7.604697174|  9.5137689|25.461|        -999|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T01:00:...|   68.25|   42.75|   16.25|   375|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T02:00:...|   31.75|    23.5|    5.25|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T03:00:...|    23.5|   12.75|    6.75|   270|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|   39.75|    26.0|     9.0|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|  106.75|   16.25|    59.0|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T04:00:...|22.65356|18.31745| 2.82794|   452|   19.5|       16.1|   3.4|      10.5|      14.314|      3.7| 0.507|36.12217|7.604697174|  9.5137689|25.461|        -999|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    98.5|   67.25|    20.5|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    54.5|    21.5|   21.25|   463|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
only showing top 20 rows

In [23]:


# have to rename the column Instrument Type to Instrument_Type because has a space in it 

df_bristol = df_bristol.withColumnRenamed('Instrument Type', 'Instrument_Type')

#to impute the categorical values we used the aggregate function in which the most occuring value was used to impute the missing values

import pyspark.sql.functions as F
for col_name in ['Current', 'Location','Instrument_Type']:
    common = df_bristol.dropna().groupBy(col_name).agg(F.count("*")).orderBy('count(1)', ascending=False).first()[col_name]
    df_bristol = df_bristol.withColumn(col_name, F.when(F.isnull(col_name), common).otherwise(df_bristol[col_name]))


df_bristol.show()

+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|           Date Time|     NOx|     NO2|      NO|SiteID|   PM10|     NVPM10| VPM10|   NVPM2_5|       PM2_5|   VPM2_5|    CO|      O3|        SO2|Temperature|    RH|Air_Pressure|            Location|        geo_point_2d|           DateStart|             DateEnd|Current|     Instrument_Type|
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|2013-08-23T07:00:...|51.54044|30.50055|13.72186|   452|   27.8|       23.2|   4.6|      16.4|      19.454|      2.9| 0.507|20.40603|7.604697174|  9.5137689|25.461|        -999|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T08:00:...|    94.5|   44.25|    33.0|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T10:00:...|  242.75|   59.75|   119.5|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T14:00:...|  197.75|   73.25|   81.25|   270|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|    81.0|    55.5|    16.5|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T18:00:...|46.65544|42.06448| 2.99414|   452|   31.1|       26.5|   4.6|      19.7|      24.595|      4.7| 0.507|42.30884|7.604697174|  9.5137689|25.461|        -999|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|   95.75|    65.5|   19.75|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T19:00:...|  116.25|    67.5|    32.0|   375|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T20:00:...|   221.0|   63.75|   102.5|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T21:00:...|   127.0|    52.0|    49.0|   463|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|   64.25|    42.5|   14.25|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-23T22:00:...|32.00043|28.99493| 1.96013|   452|   32.3|       20.9|  11.4|      16.2|      25.603|      9.2| 0.507|30.73378|7.604697174|  9.5137689|25.461|        -999|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T01:00:...|   68.25|   42.75|   16.25|   375|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T02:00:...|   31.75|    23.5|    5.25|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T03:00:...|    23.5|   12.75|    6.75|   270|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|   39.75|    26.0|     9.0|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T04:00:...|  106.75|   16.25|    59.0|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T04:00:...|22.65356|18.31745| 2.82794|   452|   19.5|       16.1|   3.4|      10.5|      14.314|      3.7| 0.507|36.12217|7.604697174|  9.5137689|25.461|        -999|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    98.5|   67.25|    20.5|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|                null|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    54.5|    21.5|   21.25|   463|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|                null|   True|Continuous (Refer...|
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
only showing top 20 rows

In [24]:



df_bristol = df_bristol.withColumnRenamed('Date Time', 'Date_Time')
#to impute the categorical values we used the aggregate function in which the most occuring value was used to impute the missing values

import pyspark.sql.functions as F
for col_name in ['DateStart', 'DateEnd','geo_point_2d', 'Date_Time']:
    common = df_bristol.dropna().groupBy(col_name).agg(F.count("*")).orderBy('count(1)', ascending=False).first()[col_name]
    df_bristol = df_bristol.withColumn(col_name, F.when(F.isnull(col_name), common).otherwise(df_bristol[col_name]))


df_bristol.show()

+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|           Date_Time|     NOx|     NO2|      NO|SiteID|   PM10|     NVPM10| VPM10|   NVPM2_5|       PM2_5|   VPM2_5|    CO|      O3|        SO2|Temperature|    RH|Air_Pressure|            Location|        geo_point_2d|           DateStart|             DateEnd|Current|     Instrument_Type|
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
|2013-08-23T07:00:...|51.54044|30.50055|13.72186|   452|   27.8|       23.2|   4.6|      16.4|      19.454|      2.9| 0.507|20.40603|7.604697174|  9.5137689|25.461|        -999|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|2015-12-31T00:00:...|   True|Continuous (Refer...|
|2013-08-23T08:00:...|    94.5|   44.25|    33.0|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|2015-12-31T00:00:...|   True|Continuous (Refer...|
|2013-08-23T10:00:...|  242.75|   59.75|   119.5|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T14:00:...|  197.75|   73.25|   81.25|   270|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|2015-12-31T00:00:...|   True|Continuous (Refer...|
|2013-08-23T18:00:...|    81.0|    55.5|    16.5|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|2015-12-31T00:00:...|   True|Continuous (Refer...|
|2013-08-23T18:00:...|46.65544|42.06448| 2.99414|   452|   31.1|       26.5|   4.6|      19.7|      24.595|      4.7| 0.507|42.30884|7.604697174|  9.5137689|25.461|        -999|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|2015-12-31T00:00:...|   True|Continuous (Refer...|
|2013-08-23T19:00:...|   95.75|    65.5|   19.75|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|2015-12-31T00:00:...|   True|Continuous (Refer...|
|2013-08-23T19:00:...|  116.25|    67.5|    32.0|   375|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T20:00:...|   221.0|   63.75|   102.5|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-23T21:00:...|   127.0|    52.0|    49.0|   463|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|2015-12-31T00:00:...|   True|Continuous (Refer...|
|2013-08-23T22:00:...|   64.25|    42.5|   14.25|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|2015-12-31T00:00:...|   True|Continuous (Refer...|
|2013-08-23T22:00:...|32.00043|28.99493| 1.96013|   452|   32.3|       20.9|  11.4|      16.2|      25.603|      9.2| 0.507|30.73378|7.604697174|  9.5137689|25.461|        -999|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|2015-12-31T00:00:...|   True|Continuous (Refer...|
|2013-08-24T01:00:...|   68.25|   42.75|   16.25|   375|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|Newfoundland Road...|51.4606738207,-2....|2005-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T02:00:...|   31.75|    23.5|    5.25|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|2015-12-31T00:00:...|   True|Continuous (Refer...|
|2013-08-24T03:00:...|    23.5|   12.75|    6.75|   270|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|          Wells Road|51.4278638883,-2....|2003-05-23T00:00:...|2015-12-31T00:00:...|   True|Continuous (Refer...|
|2013-08-24T04:00:...|   39.75|    26.0|     9.0|   203|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|   Brislington Depot|51.4417471802,-2....|2001-01-01T00:00:...|2015-12-31T00:00:...|   True|Continuous (Refer...|
|2013-08-24T04:00:...|  106.75|   16.25|    59.0|   206|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|       Rupert Street|51.4554331987,-2....|2003-01-01T00:00:...|2015-12-31T00:00:...|  False|Continuous (Refer...|
|2013-08-24T04:00:...|22.65356|18.31745| 2.82794|   452|   19.5|       16.1|   3.4|      10.5|      14.314|      3.7| 0.507|36.12217|7.604697174|  9.5137689|25.461|        -999|       AURN St Pauls|51.4628294172,-2....|2006-06-15T00:00:...|2015-12-31T00:00:...|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    98.5|   67.25|    20.5|   215|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|Parson Street School|51.432675707,-2.6...|2002-02-01T00:00:...|2015-12-31T00:00:...|   True|Continuous (Refer...|
|2013-08-24T06:00:...|    54.5|    21.5|   21.25|   463|22.2230|14.62690601|3.1834|9.27125962|12.052908769|3.2491655| 0.507|40.65212|7.604697174|  9.5137689|25.461|        -999|      Fishponds Road|51.4780449714,-2....|2009-03-13T00:00:...|2015-12-31T00:00:...|   True|Continuous (Refer...|
+--------------------+--------+--------+--------+------+-------+-----------+------+----------+------------+---------+------+--------+-----------+-----------+------+------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+
only showing top 20 rows

In [42]:
df_bristol.coalesce(1).write.csv("data_cleaned1.csv")

In [29]:
Dict_Null = {col:df_bristol.filter(df_bristol[col].isNull()).count() for col in df_bristol.columns}
Dict_Null

{'Date_Time': 0,
 'NOx': 0,
 'NO2': 0,
 'NO': 0,
 'SiteID': 2,
 'PM10': 0,
 'NVPM10': 0,
 'VPM10': 0,
 'NVPM2_5': 0,
 'PM2_5': 0,
 'VPM2_5': 0,
 'CO': 0,
 'O3': 0,
 'SO2': 0,
 'Temperature': 0,
 'RH': 0,
 'Air_Pressure': 0,
 'Location': 0,
 'geo_point_2d': 0,
 'DateStart': 0,
 'DateEnd': 0,
 'Current': 0,
 'Instrument_Type': 0}

In [30]:
from pyspark.sql.functions import col, max as max_, min as min_


#Question 1 

df_bristol.agg({'CO': 'avg'}).collect()



#Question2 

#return the maximum value of CO, NOx for each station
df_bristol.groupBy('Location').agg(max_('CO'),max_('NOx')).collect()

[Row(Location='AURN Bristol Centre', max(CO)='9.5', max(NOx)='999.0'),
 Row(Location='AURN St Pauls', max(CO)='6.3', max(NOx)='999.23568'),
 Row(Location='Bath Road', max(CO)=' 0.507', max(NOx)='999.25'),
 Row(Location='Brislington Depot', max(CO)=' 0.507', max(NOx)='99.75'),
 Row(Location='CREATE Centre Roof', max(CO)=' 0.507', max(NOx)='116.892'),
 Row(Location='Cheltenham Road \\ Station Road', max(CO)=' 0.507', max(NOx)='99.99'),
 Row(Location='Colston Avenue', max(CO)=' 0.507', max(NOx)='990.0'),
 Row(Location='Fishponds Road', max(CO)=' 0.507', max(NOx)='995.25'),
 Row(Location='IKEA M32', max(CO)=' 0.507', max(NOx)='99.88'),
 Row(Location='Newfoundland Road Police Station', max(CO)=' 0.507', max(NOx)='998.75'),
 Row(Location='Old Market', max(CO)='4.2', max(NOx)='997.0'),
 Row(Location='Parson Street School', max(CO)=' 0.507', max(NOx)='998.0'),
 Row(Location='Rupert Street', max(CO)=' 0.507', max(NOx)='999.75'),
 Row(Location="Shiner's Garage", max(CO)=' 0.507', max(NOx)='99.75'),
 Row(Location='Temple Meads Station', max(CO)=' 0.507', max(NOx)='991.97'),
 Row(Location='Temple Way', max(CO)=' 0.507', max(NOx)='99.9994'),
 Row(Location='Trailer Portway P&R', max(CO)=' 0.507', max(NOx)='99.94'),
 Row(Location='Wells Road', max(CO)=' 0.507', max(NOx)='997.75')]

In [31]:
df_bristol.withColumn("Air_Pressure",df_bristol.Air_Pressure.cast('double'))

DataFrame[Date_Time: string, NOx: string, NO2: string, NO: string, SiteID: string, PM10: string, NVPM10: string, VPM10: string, NVPM2_5: string, PM2_5: string, VPM2_5: string, CO: string, O3: string, SO2: string, Temperature: string, RH: string, Air_Pressure: double, Location: string, geo_point_2d: string, DateStart: string, DateEnd: string, Current: string, Instrument_Type: string]

In [32]:

#Question3 (selected the siteid and date after which applied the filter of 2016 and since the air pressure was the same throughput the min value was -999)
df_bristol.select('SiteID','Date_Time','Air_Pressure').filter(df_bristol.Date_Time.like('2016%')).collect()

[Row(SiteID='270', Date_Time='2016-05-02T04:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-02T05:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-02T06:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-02T10:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-02T10:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-02T12:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-02T15:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-02T20:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-02T23:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-03T01:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-03T03:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-03T04:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-03T06:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-03T07:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-03T09:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-03T14:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-03T14:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-03T15:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-03T16:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-03T17:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-03T17:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-03T19:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-03T20:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-03T22:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-04T00:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-04T00:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-04T02:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-04T03:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-04T05:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-04T09:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-04T12:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-04T14:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-04T15:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-04T20:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-04T22:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-05T00:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-05T01:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-05T02:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-05T03:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-05T03:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-05T04:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-05T06:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-05T07:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-05T13:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-05T14:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-05T14:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-05T14:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-05T19:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-05T20:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-05T20:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-05T22:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-05T22:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-06T00:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-06T00:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-06T04:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-06T05:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-06T05:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-06T09:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-06T10:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-06T10:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-06T11:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-06T12:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-06T12:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-06T15:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-06T16:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-06T17:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-06T18:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-06T18:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-06T19:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-06T21:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-07T02:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-07T03:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-07T05:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-07T10:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-07T12:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-07T17:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-07T17:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-07T20:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-07T22:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-08T02:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-08T07:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-08T08:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-08T09:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-08T09:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-08T10:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-08T10:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-08T12:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-08T14:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-08T19:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-08T19:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-08T20:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-08T20:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-08T23:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-09T00:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-09T00:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-09T01:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-09T03:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-09T04:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-09T05:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-09T08:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-09T09:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-09T10:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-09T12:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-09T15:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-09T17:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-09T19:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-09T19:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-09T21:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-09T21:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-09T22:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-09T23:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-10T00:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-10T02:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-10T02:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-10T03:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-10T04:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-10T05:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-10T06:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-10T06:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-10T09:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-10T11:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-10T12:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-10T17:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-10T20:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-10T22:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-10T23:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-11T01:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-11T02:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-11T02:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-11T04:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-11T05:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-11T07:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-11T09:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-11T10:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-11T13:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-11T15:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-11T16:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-11T17:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-11T17:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-11T17:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-11T19:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-11T20:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-11T21:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-11T21:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-12T01:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-12T04:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-12T05:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-12T07:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-12T08:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-12T09:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-12T10:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-12T11:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-12T12:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-12T14:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-12T18:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-12T19:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-12T21:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-12T22:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-12T22:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-13T12:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-13T14:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-13T15:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-13T16:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-13T17:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-13T21:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-13T21:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-13T22:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-13T23:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-14T00:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-14T04:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-14T05:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-14T06:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-14T07:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-14T08:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-14T10:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-14T12:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-14T14:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-14T15:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-14T16:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-14T18:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-14T20:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-14T20:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-14T20:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-14T21:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-14T23:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-14T23:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-15T02:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-15T03:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-15T04:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-15T07:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-15T07:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-15T10:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-15T13:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-15T14:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-15T14:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-15T16:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-15T16:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-15T18:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-15T18:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-15T19:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-15T20:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-16T00:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-16T03:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-16T06:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-16T06:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-16T07:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-16T07:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-16T08:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-16T09:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-16T11:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-16T12:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-16T12:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-16T12:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-16T13:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-16T14:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-16T19:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-16T20:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-16T22:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-16T22:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-17T00:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-17T01:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-17T03:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-17T06:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-17T08:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-17T11:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-17T13:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-17T16:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-17T16:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-17T17:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-17T17:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-17T18:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-17T20:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-17T21:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-17T23:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-18T00:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-18T01:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-18T07:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-18T12:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-18T12:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='270', Date_Time='2016-05-18T14:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-18T15:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-18T23:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-19T00:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-19T07:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-19T08:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-19T09:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='203', Date_Time='2016-05-19T10:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='463', Date_Time='2016-05-19T10:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='452', Date_Time='2016-05-19T11:00:00+00:00', Air_Pressure='-999'),
 Row(SiteID='215', Date_Time='2016-05-19T13:00:00+00:00', Air_Pressure='-999'),

In [33]:
#question 4 over here i first filtered out the colcumns with date 2019 and which had the Brislington depot as the location after this i took the average of the temperature of the filtered output

df_bristol.filter(df_bristol.Date_Time.like('2019%')).filter(df_bristol.Location.like('Brislington Depot')).agg({'Temperature': 'avg'}).show()

+-----------------+
| avg(Temperature)|
+-----------------+
|9.513768899999402|
+-----------------+

In [34]:
#Question5 this was grouped use the date time and from there the max of the temeprature was recorded

df_bristol.groupby('Date_Time').agg(max_('Temperature')).collect()

[Row(Date_Time='1993-01-01T00:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T01:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T02:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T03:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T04:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T05:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T06:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T07:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T08:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T09:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T10:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T11:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T12:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T13:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T14:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T15:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T16:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T17:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T18:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T19:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T20:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T21:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T22:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-01T23:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T00:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T01:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T02:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T03:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T04:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T05:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T06:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T07:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T08:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T09:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T10:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T11:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T12:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T13:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T14:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T15:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T16:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T17:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T18:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T19:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T20:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T21:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T22:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-02T23:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T00:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T01:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T02:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T03:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T04:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T05:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T06:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T07:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T08:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T09:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T10:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T11:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T12:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T13:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T14:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T15:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T16:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T17:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T18:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T19:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T20:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T21:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T22:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-03T23:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T00:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T01:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T02:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T03:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T04:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T05:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T06:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T07:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T08:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T09:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T10:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T11:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T12:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T13:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T14:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T15:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T16:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T17:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T18:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T19:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T20:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T21:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T22:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-04T23:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T00:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T01:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T02:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T03:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T04:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T05:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T06:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T07:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T08:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T09:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T10:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T11:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T12:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T13:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T14:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T15:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T16:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T17:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T18:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T19:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T20:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T21:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T22:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-05T23:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T00:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T01:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T02:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T03:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T04:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T05:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T06:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T07:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T08:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T09:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T10:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T11:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T12:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T13:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T14:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T15:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T16:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T17:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T18:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T19:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T20:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T21:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T22:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-06T23:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T00:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T01:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T02:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T03:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T04:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T05:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T06:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T07:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T08:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T09:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T10:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T11:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T12:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T13:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T14:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T15:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T16:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T17:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T18:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T19:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T20:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T21:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T22:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-07T23:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T00:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T01:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T02:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T03:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T04:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T05:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T06:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T07:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T08:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T09:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T10:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T11:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T12:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T13:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T14:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T15:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T16:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T17:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T18:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T19:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T20:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T21:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T22:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-08T23:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T00:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T01:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T02:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T03:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T04:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T05:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T06:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T07:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T08:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T09:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T10:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T11:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T12:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T13:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T14:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T15:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T16:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T17:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T18:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T19:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T20:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T21:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T22:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-09T23:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T00:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T01:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T02:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T03:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T04:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T05:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T06:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T07:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T08:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T09:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T10:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T11:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T12:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T13:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T14:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T15:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T16:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T17:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T18:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T19:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T20:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T21:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T22:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-10T23:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T00:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T01:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T02:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T03:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T04:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T05:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T06:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T07:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T08:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T09:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T10:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T11:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T12:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T13:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T14:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T15:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T16:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T17:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T18:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T19:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T20:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T21:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T22:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-11T23:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-12T00:00:00+00:00', max(Temperature)='9.5137689'),
 Row(Date_Time='1993-01-12T01:00:00+00:00', max(Temperature)='9.5137689'),

In [35]:
#question 6 calculate O3 with respect to each location

df_bristol.groupBy('Location').agg(max_('O3')).collect()

[Row(Location='AURN Bristol Centre', max(O3)='98.0'),
 Row(Location='AURN St Pauls', max(O3)='99.98457'),
 Row(Location='Bath Road', max(O3)='40.65212'),
 Row(Location='Brislington Depot', max(O3)='40.65212'),
 Row(Location='CREATE Centre Roof', max(O3)='99.0'),
 Row(Location='Cheltenham Road \\ Station Road', max(O3)='40.65212'),
 Row(Location='Colston Avenue', max(O3)='40.65212'),
 Row(Location='Fishponds Road', max(O3)='40.65212'),
 Row(Location='IKEA M32', max(O3)='40.65212'),
 Row(Location='Newfoundland Road Police Station', max(O3)='40.65212'),
 Row(Location='Old Market', max(O3)='40.65212'),
 Row(Location='Parson Street School', max(O3)='40.65212'),
 Row(Location='Rupert Street', max(O3)='40.65212'),
 Row(Location="Shiner's Garage", max(O3)='40.65212'),
 Row(Location='Temple Meads Station', max(O3)='40.65212'),
 Row(Location='Temple Way', max(O3)='40.65212'),
 Row(Location='Trailer Portway P&R', max(O3)='40.65212'),
 Row(Location='Wells Road', max(O3)='79.22929')]

In [36]:
#Question 7 what is the max geo point of  each location

df_bristol.groupby('Location').agg(max_('geo_point_2d')).collect()

[Row(Location='AURN Bristol Centre', max(geo_point_2d)='51.4572041156,-2.58564914143'),
 Row(Location='AURN St Pauls', max(geo_point_2d)='51.4628294172,-2.58454081635'),
 Row(Location='Bath Road', max(geo_point_2d)='51.4425372726,-2.57137536073'),
 Row(Location='Brislington Depot', max(geo_point_2d)='51.4417471802,-2.55995583224'),
 Row(Location='CREATE Centre Roof', max(geo_point_2d)='51.447213417,-2.62247405516'),
 Row(Location='Cheltenham Road \\ Station Road', max(geo_point_2d)='51.4689385901,-2.5927241667'),
 Row(Location='Colston Avenue', max(geo_point_2d)='51.4552693825,-2.59664882861'),
 Row(Location='Fishponds Road', max(geo_point_2d)='51.4780449714,-2.53523027459'),
 Row(Location='IKEA M32', max(geo_point_2d)='51.4752847609,-2.56207998299'),
 Row(Location='Newfoundland Road Police Station', max(geo_point_2d)='51.4606738207,-2.58225341824'),
 Row(Location='Old Market', max(geo_point_2d)='51.4560189999,-2.58348949026'),
 Row(Location='Parson Street School', max(geo_point_2d)='51.432675707,-2.60495665673'),
 Row(Location='Rupert Street', max(geo_point_2d)='51.4554331987,-2.59626237324'),
 Row(Location="Shiner's Garage", max(geo_point_2d)='51.4577930324,-2.56271419977'),
 Row(Location='Temple Meads Station', max(geo_point_2d)='51.4488837041,-2.58447776241'),
 Row(Location='Temple Way', max(geo_point_2d)='51.4579497129,-2.58398909033'),
 Row(Location='Trailer Portway P&R', max(geo_point_2d)='51.4899934596,-2.68877856929'),
 Row(Location='Wells Road', max(geo_point_2d)='51.4628294172,-2.58454081635')]